<div class="top-bar">
    <div class="container">
        <div class="top-bar-item align-items-center">
          
            <p class="text-white py-2 m-0">{{ section.settings.text_left | escape }}</p>
            <a href="tel:{{ section.settings.phone_left | escape }}"><i class="fas fa-phone-alt"></i> Phone : {{ section.settings.phone_left | escape }}</a>
     
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Announcement bar",
  "settings": [
    {
      "type": "text",
      "id": "content",
      "label": "Text",
      "default": "Announce something here"
    },
    {
      "type": "text",
      "id": "phone_left",
      "default": "850-660-3983",
      "label": "Phone"
    }
  ]
}
{% endschema %}