<section class="new-arrival">
  <div class="container">
    <div class="title">
      <h3>{{ section.settings.titlee }}</h3>
    </div>
    <div class="arrival-slider">

      {% assign selected_collection = section.settings.collection %}

      {% for product in collections[selected_collection].products %}
        <div class="col-12">
            {%- render 'product-item', product: product, show_product_info: true, section.settings.show_product_info, show_vendor: section.settings.show_vendor, show_color_swatch: section.settings.show_color_swatch, show_labels: true -%}
        </div>

      {% endfor %}



    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Custom Arrival",
    "tag": "section",
    "class": "announcement-bar-section",
    "settings": [
      {
        "type": "text",
        "id": "titlee",
        "default": "Collections",
        "label": "Title"
      }, {
        "type": "collection",
        "id": "collection",
        "label": "t:sections.featured-collection.settings.collection.label"
      }
    ],
    "presets": [
      {
        "name": "Custom Arrival"
      }
    ]
  }
{% endschema %}