.container{
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1150px;
  }
}

@media (min-width: 1400px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1320px;
  }
}
.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px){
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
    padding: 0 15px;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
    padding: 0 15px;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
    padding: 0 15px;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
    padding: 0 15px;
  }

}
.col-12{
  padding: 0 15px;
}

/* @import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap"); */
/* font-family: 'Tenor Sans', sans-serif; */
/* @import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap'); */
.ProductItem:hover .second-image {
  opacity: 1;
  /* top: 0; */
}
.ProductItem .second-image {
  opacity: 0;
  transition: all .7s;
  top: 0;
}
.Slideshow__Content header {
    width: 50%;
}

.Slideshow__Content header h2.SectionHeader__Heading {
    font-size: 60px !important;
    font-family: 'Tenor Sans', sans-serif;
    line-height: 60px !important;
    letter-spacing: 0;
  margin-bottom: 22px;
}
.Slideshow__Content header h3.SectionHeader__SubHeading {
    font-size: 20px !important;
    text-transform: uppercase !important;
    background-color: #320032;
    width: max-content;
    color: #fff !important;
    padding: 5px 12px;
    font-family: 'Tenor Sans', sans-serif;
    margin-bottom: 22px;
}
.Slideshow__Content header .SectionHeader__content {
    max-width: 550px;
}

.Slideshow__Content.textalign-center header .SectionHeader__content {
    margin-left: auto;
    margin-right: auto;
}
.Slideshow__Content.textalign-center header {
    margin: 0 auto;
}

.Slideshow__Content.textalign-center header h3.SectionHeader__SubHeading {
    margin-left: auto;
    margin-right: auto;
}

.ProductItem {
  overflow: hidden;
}
.title h3 {
  font-size: 50px;
  font-weight: 600;
  padding-bottom: 35px;
  text-transform: none;
  color: #000;
  font-family: 'Tenor Sans', sans-serif;
  line-height: 50px
}

.slick-arrow {
  width: 50px;
  height: 50px;
  /* background: var(--c1); */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #777;
  position: absolute;
  z-index: 999;
  top: -80px;
  margin: auto 0px;
  border-radius: 50%;
  transition: all .5s;
}

.slick-prev {
  left: 87%;
}

.slick-next {
  right: 3%;
}

.slick-arrow i {
  font-weight: 300;
}

.slick-arrow {
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  background: var(--button-text-color);
  color: var(--button-background);
  cursor: pointer;
  text-align: center;
  z-index: 1;
  box-shadow: 0 2px 10px #36363626;
  vertical-align: middle;
  line-height: 0;
  transform: scale(1.001);
  transition: background .15s ease-in-out,opacity .15s ease-in-out,transform .2s ease-in-out,color .2s ease-in-out;
  overflow: hidden;
}
.slick-arrow svg {
  height: 18px;
}
.slick-next:hover svg {
  -webkit-animation: buttonFromLeftToRight .5s ease-in-out forwards;
  animation: buttonFromLeftToRight .5s ease-in-out forwards;
  }
.slick-prev:hover svg {
  -webkit-animation: buttonFromRightToLeft .5s ease-in-out forwards;
  animation: buttonFromRightToLeft .5s ease-in-out forwards;
  }

.new-arrival {
  padding: 70px 0;
}



.best-seeller-inner-item img {
  width: 70%;
}

.best-seeller-inner-item p {
  font-size: 16px;
  width: 68%;
  line-height: 27px;
}

.best-seeller-item {
  display: flex !important;
  padding-top: 40px;
}

.best-seeller-inner-item {
  width: 50%;
}

.best-seller-content {
  width: 50%;
  text-align: center;
}
.best-seller {
    padding: 80px  0;
}

.best-seeller-inner-item h3 {
    font-size: 31px;
    text-transform: none;
    padding-bottom: 22px;
    line-height: 32px;
    font-family: 'Tenor Sans', sans-serif;
}

.best-seeller-inner-item p {
    font-size: 16px;
    line-height: 31px;
    padding-top: 34px;
    text-align: left;
}

.best-seller-content h2 {
  margin: 0 auto;
  background-color: #320032;
  color: #fff;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 0;
  display: inline-grid;
  align-content: center;
  justify-content: center;
  font-family: 'Tenor Sans', sans-serif;
  font-size: 1.5rem;
}

.best-seller-content h3 {
    font-size: 42px;
    text-transform: none;
    font-weight: 600;
    padding: 25px 0;
    font-family: 'Tenor Sans', sans-serif;
    margin: 0;
    line-height: 42px;
  }

.best-seller-content h5 {
    font-size: 25px;
}

.best-seller-content .rating ul li {
    font-size: 30px;
    padding: 6px 0;
}

.best-seller-content h6 {
    font-size: 21px;
    padding: 18px 0;
    text-decoration: underline !important;
}

.best-seller-btn {
    margin-top: 30px;
}
.best-seller .slick-prev {
    left: 78%;
}